</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<footer class="footer bg-dark text-white mt-5">
  <div class="container-footer">
    <div class="row">
      <div class="col-md-4">
        <h4>Panadería</h4>
        <ul class="list-unstyled">
          <li><a href="#">Baguette</a></li>
          <li><a href="#">Croissant</a></li>
          <li><a href="#">Pan de campagne</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Repostería</h4>
        <ul class="list-unstyled">
          <li><a href="#">Tarta de manzana</a></li>
          <li><a href="#">Profiteroles</a></li>
          <li><a href="#">Macarons</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Comida de Sal</h4>
        <ul class="list-unstyled">
          <li><a href="#">Croque-Monsieur</a></li>
          <li><a href="#">Quiche Lorraine</a></li>
          <li><a href="#">Sopa de cebolla</a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-center">
        <p>&copy; 2023 Restaurante Francés. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>